<%-include('./partials/upper.ejs')%>
<%-include('./partials/bootstrap.ejs')%>





  <title class="text-center"><%=data.name%></title>
</head>
<body>



<h1 class="text-center"><%=data.name%></h1>
<br><br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="<%=data.videoUrl%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
  </div>  
  <br><br>
 
  <h5>More about this course:</h5> 
  <p> <%=data.description%></p>
 <br><br>
  <p>Have you finished the video? Click here to learn more subjects!</p> <a class="btn btn-primary" href="/" role="button">Change Course</a>

</body>

</html>