<%-include('./partials/upper.ejs')%>
<%-include('./partials/bootstrap.ejs')%>


    <title>Avaliable Courses</title>
</head>

<body>
    <%- include('./navbar.ejs') %>
    <h1 class="text-center">Avaliable Courses</h1>
    <br><br><br>


    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search" name="name">      
        
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search" name="categoryName">      
        
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>



    <%data.forEach(el=>{%>

        <div class="row">
            <div class="col-sm-6">
                <div class="card" x>
                    <div class="card-body">
                        <h5 class="card-title">
                          
                            <%=el.name%>
                        </h5>
                        <p class="card-text">
                            <%=el.description%>
                        </p>
                        <a href="/courses?applyCourse=<%=el.id%>" class="btn btn-primary">Apply Course</a>
                  
                        <% if(CourseId == el.id){%>
                            <a href="/courses/<%=el.id%>" class="btn btn-primary">Do Course</a>
                            <%}%>
                         

                   

                        <% if (Role =='admin'){%>
                            <a href="/courses/<%=el.id%>/delete" class="btn btn-primary">Delete Course</a>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
        <%})%>


</body>

</html>